clickhouse:
  image: yandex/clickhouse-server
  ports:
    - "8123:8123"
  volumes:
    - "./rollup.xml:/etc/clickhouse-server/config.d/rollup.xml"
    - "./data/clickhouse/data:/var/lib/clickhouse/data"
    - "./data/clickhouse/metadata:/var/lib/clickhouse/metadata"
    - "./data/clickhouse/logs/clickhouse-server.log:/var/log/clickhouse-server/log/clickhouse-server.log"
  #entrypoint: chmod o+r stand/data/clickhouse/logs/


data-receiver:
    build: reciver_python
    volumes:
      - "./res/results:/results"
      - "./reciver_python/:/"
    ports:
      - "2003:2003" # plain tcp
      - "2003:2003/udp" # plain udp
      - "2004:2004" # pickle
      - "2006:2006" # prometheus remote write
    entrypoint: python /insert.py
    links:
      - clickhouse
